@font-face {
  font-family: "Tiempos Text";
  src: url("TiemposHeadline-Regular.otf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("TiemposHeadline-Bold.otf");
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("TiemposHeadline-Medium.otf");
  font-style: normal;
  font-weight: medium;
  font-display: swap;
}

@font-face {
  font-family: "Tiempos Text";
  src: url("TiemposHeadline-Semibold.otf");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}
